.sensor-panel {
  display: flex;
  flex-wrap: wrap;
}

.sensor-panel .sensor {
  background: #ddd;
  flex-grow: 1;
  width: 33%;
  height: 100px;
  margin: 10px;
  display: flex;
}

.no-sensors {
  display: flex;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}
